.topbar
  .topbar-inner
    .container
      a.brand(href='#')= title
      ul#nav
        li: a(href='/') Home
        li.active: a(href='/about') About
.container
  h2 About Express Coffee2 Template
  .well
    h3 
      | Express Coffee 2 was created
      | to reduce the friction of getting
      | up and going on express and coffee-script.
