.topbar
  .topbar-inner
    .container
      a.brand(href='#')= title
      ul#nav
        li: a(href='/') Home
        li.active: a(href='/about') About
.container
  h2 About Express Coffee2 Template
  .well
    h3 
      | Todos sproutcore app
    p This is a sample of the
      | sproutcore demo application
      | using the express-coffee2
      | template.
