.topbar
  .topbar-inner
    .container
      a.brand(href='#')= title
      ul#nav
        li.active: a(href='/') Home
        li: a(href='/about') About

.container
  h2 Express Coffee2 Template
  p 
    | Express Coffee 2 is a project skeleton to get
    | started building expressjs web applications
    | using coffeescript.
  h2 Features
  ul
    li HTML 5 Shim
    li Twitter Bootstrap CSS
    li JQuery 1.6.4
    li Cloud9 Ready
    li No Compiling
    
    
 